#all {
  height: 960px;
  width: 1506px;
  margin-right: auto;
  margin-left: auto;
}
header {
  height: 60px;
  display: flex;
  flex-direction: row;
}
.header-title {
  font-size: 50px;
  padding-top: 30px;
  padding-left: 20px;
}
.header-list {
  margin-left: auto;
  margin-right: 20px;
  padding-top: 50px;
  display: flex;
}
ul {
  font-size: 20px;
  padding-left: 20px;
}

#hello {
  height: 700px;
  background-image: url(images/TOP.JPG);
  background-size: 100%;
  margin-top: 40px;
  display: flex;
}
.main1 {
  display: flex;
  flex-direction: row;
}
.main-title {
  padding-top: 150px;
  padding-left: 130px;
  font-size: 180px;
  font-weight: bolder;
  color: white;
  line-height: 100%;
}
.main-setumei {
  padding-left: 250px;
  padding-top: 600px;
  font-size: 30px;
  color: white;
  line-height: 100%;
}

.aboutme-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 35px;
  text-align: center;
  border-bottom: black;
}
#aboutme {
  height: 600px;
}

.aboutmecontener {
  display: flex;
}
.sakiko {
  margin-right: auto;
}
.flex-me {
  display: flex;
  flex-direction: column;
  width: 30px;
}
.me {
  margin: 20px;
  text-align: center;
}

#section3 {
  height: 800px;
}
