#all {
  width: 80%;
  height: 80%;
  margin-right: auto;
  margin-left: auto;
}
header {
  height: 50px;
}
.header-title {
  padding-top: 25px;
  padding-left: 20px;
}

#hello {
  height: 500px;
  background-image: url(images/TOP.JPG);
  background-size: 100%;
}
.main-title {
  font-size: 120px;
  font-weight: bolder;
  color: white;
  line-height: 100%;
}

.main1 {
  margin-top: 40px;
  display: flex;
  justify-content: left;
  padding-top: 50px;
  padding-left: 60px;
}
#aboutme {
  height: auto;
}
#aboutmecontener {
  display: flex;
  justify-content: center;
}
.me {
  background-color: aquamarine;
  height: 120px;
  width: 120px;
  padding-top: 45px;
  margin: 20px;
  text-align: center;
}
